/* styles.css */

@keyframes revealFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-reveal {
    animation: revealFromBottom 1s ease-out forwards;
  }
  